<h1>Editing Driver Statement</h1>

<%= render 'form', driver_statement: @driver_statement %>

<%= link_to 'Show', [@driver, @driver_statement] %> |
<%= link_to 'Back', driver_driver_statements_path(@driver) %>


